body {
    background: url("../img/TLDF-Register.png") no-repeat top center;
}

.container {
    max-width: 966px;
}

#root-header {
    border-bottom: 2px solid #c5c5c5;
    background: transparent url("../img/bg-root-header.png") repeat-x;
    padding: 13px 0;
}

#header-image {
    background: transparent url("../img/register-header.png") center no-repeat;
    height: 78px;
}

#register .content {
    padding: 55px 0
}

#register .content .container {
    border: 1px solid #d9d9d9;
}

#register .content .padding {
    max-width: 500px;
    margin: 0 auto;
}

#root-footer {
    background: transparent url("../img/bg-root-footer.png") repeat-x;
    font-size: 85%;
    padding: 15px 0;
    color: #ffffff;
}

#root-footer .copy {
    float: left;
}

#root-footer .links {
    float: right;
}

#root-footer .links ul,
#root-footer .links li {
    float: left;
}

#root-footer .links a {
    color: #ffffff;
}

#root-footer .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#root-footer .links li {
    border-left: 1px solid #ffffff;
    padding: 0 5px;
}

#root-footer .links li:first-child {
    border: none;
}